.form {
  background-color: transparent;
  color: var(--bg-panel);
  left: 0px;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  padding: 60px 0px 40px;
  position: absolute;
  top: 0px;
  max-width: 320px;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  pointer-events: none;
  transform-origin: left top;
  width: 100%;

  &--axes {
    display: flex;
    flex-flow: column wrap;
    position: relative;
    width: 100%;

    &--instance {
      background: transparent;
      border: 1px dashed var(--text-main);;
      background-size: 10px 10px;
      background-image: none;
      color: var(--text-main);
      box-shadow: none;
      height: 40px;
      color: var(--secondary-color);
      font-family: inherit;
      font-size: 20px;
      transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
      min-width: 40px;

      &[data-active="true"] {
        border-color: transparent;
        background-image: repeating-linear-gradient(
          -45deg,
          var(--text-main) 0,
          var(--text-main) 1px,
          transparent 0,
          transparent 50%
        );
      }
    }

    .form--group {
      display: flex;
      gap: 2px;
      overflow: hidden;
      overflow-x: auto;
      padding-top: 0px;
    }
  }

  &--group {
    padding: 10px 0px;
    width: 100%;

    &--dash {
      display: flex;
      gap: 20px;
      width: 100%;
    }

    &--size {
      flex: 1;
      margin: 0 0 0 auto;
    }

    &--label {
      background: transparent;
      color: var(--text-main);
      display: flex;
      font-size: 12px;
      font-weight: 500;
      line-height: 1rem;
      padding: 4px 20px 4px 0px;
      text-transform: uppercase;
      width: fit-content;
      user-select: none;
    }

    &--title {
      display: flex;
      color: var(--text-main);
      gap: 6px;
      flex-flow: column wrap;
      letter-spacing: -0.05rem;
      padding: 0 0 20px;
      position: relative;
      width: 100%;

      p {
        font-size: 10px;
      }

      h2 {
        line-height: 1rem;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
      }
    }

    &[data-group="1"] {
      display: flex;
      gap: 20px;
      flex-flow: row nowrap;

      &:last-child {
        flex: 1;
        margin: 0 0 0 auto;
      }
    }

    &[data-group="2"] {
      display: flex;
      flex-flow: column wrap;
      gap: 0px;
    }
  }

  &--line {
    &--group {
      align-items: center;
      display: flex;
      gap: 32px;
      justify-content: flex-start;
      padding: 20px 0px 0px;
    }
  }

  button,
  input {
    pointer-events: auto;
  }
}