.form {
  background-color: white;
  color: black;
  right: 0px;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0px;
  max-width: 350px;
  width: 100%;

  &--btn-instance {
    background: black;
    border: none;
    box-shadow: none;
    color: white;
    height: 40px;
    font-family: inherit;
    width: 40px;
  }

  &--group {
    padding: 10px 20px;
    width: 100%;

    &--dash {
      display: flex;
      gap: 20px;
      width: 100%;
    }

    &--size {
      flex: 1;
      margin: 0 0 0 auto;
    }

    &--label {
      background: var(--primary-color);
      color: var(--secondary-color);
      display: flex;
      font-size: 14px;
      font-weight: 500;
      line-height: 1rem;
      padding: 4px 20px 4px 10px;
      text-transform: uppercase;
      width: fit-content;
    }

    &--title {
      display: flex;
      gap: 0px;
      flex-flow: column wrap;
      letter-spacing: -0.05rem;
      padding: 20px;
      position: relative;
      width: 100%;

      p {
        font-size: 10px;
      }

      h2 {
        line-height: 1rem;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
      }

      &:before {
        background: var(--primary-color);
        content: '';
        height: calc(100% - 20px);
        left: 0px;
        position: absolute;
        top: 50%;
        transform: translate3d(0px, -50%, 0px);
        width: 4px;
      }
    }

    &[data-group="1"] {
      display: flex;
      gap: 20px;
      flex-flow: row nowrap;

      &:last-child {
        flex: 1;
        margin: 0 0 0 auto;
      }
    }

    &[data-group="2"] {
      display: flex;
      flex-flow: column wrap;
      gap: 20px;
    }
  }

  &--line {
    &--group {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 20px 0px 0px;
    }
  }
}