.form--glyph {
  align-items: flex-end;
  background-color: transparent;
  bottom: 0px;
  display: flex;
  flex-flow: row nowrap;
  left: 100%;
  gap: 20px;
  height: fit-content;
  overflow: hidden;
  overflow-y: auto;
  padding: 0px 20px 20px;
  position: absolute;
  top: initial;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  pointer-events: none;
  transform-origin: left top;
  width: fit-content;

  &--axes {
    display: flex;
    flex-flow: column wrap;
    gap: 12px;
    position: relative;
    width: 100%;

    &--controls {
      display: flex;
      gap: 20px;
      position: relative;
      width: auto;

      &--item {
        align-items: flex-start;
        display: flex;
        gap: 12px;
        flex-flow: column wrap;
        justify-content: flex-start;
        width: 40px;

        p {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 100%;
        }

        &--range {
          display: flex;
          height: 140px;
          overflow: hidden;
          position: relative;
          width: 40px;

          > div {
            left: 100%;
            position: absolute;
            transform: rotate(90deg);
            transform-origin: top left;
            top: 0px;
          }
        }
      }
    }

    &--instance {
      background: transparent;
      border: none;
      background-size: 8px 8px;
      background-image: repeating-linear-gradient(
        -45deg,
        var(--text-main) 0,
        var(--text-main) 1px,
        transparent 0,
        transparent 50%
      );
      color: var(--text-main);
      box-shadow: none;
      height: 40px;
      color: var(--secondary-color);
      font-family: inherit;
      font-size: 20px;
      transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
      min-width: 40px;

      &[data-active="true"] {
        background-image: none;
        border: 1px dashed var(--text-main);
      }
    }

    &--list {
      display: flex;
      gap: 2px;
      flex-flow: row wrap;
      width: 180px;
    }

    .form--group {
      display: flex;
      gap: 2px;
      overflow: hidden;
      overflow-x: auto;
      padding-top: 0px;
    }
  }

  &--group {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    padding: 0px;
    width: fit-content;

    &--dash {
      display: flex;
      gap: 20px;
      width: 100%;
    }

    &--size {
      flex: 1;
      margin: 0 0 0 auto;
    }

    &--label {
      background: transparent;
      color: var(--text-main);
      display: flex;
      font-size: 12px;
      font-weight: 500;
      line-height: 1rem;
      padding: 4px 20px 4px 0px;
      text-transform: uppercase;
      width: fit-content;
      user-select: none;
    }

    &--title {
      display: flex;
      color: var(--text-main);
      gap: 6px;
      flex-flow: column wrap;
      letter-spacing: -0.05rem;
      padding: 0 0 20px;
      position: relative;
      width: 100%;

      p {
        font-size: 10px;
      }

      h2 {
        line-height: 1rem;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
      }
    }

    &[data-group="1"] {
      display: flex;
      gap: 20px;
      flex-flow: row nowrap;

      &:last-child {
        flex: 1;
        margin: 0 0 0 auto;
      }
    }

    &[data-group="2"] {
      display: flex;
      flex-flow: column wrap;
      gap: 0px;
    }
  }

  &--line {
    &--group {
      align-items: center;
      display: flex;
      gap: 32px;
      justify-content: flex-start;
      padding: 20px 0px 0px;
    }
  }

  button,
  input {
    pointer-events: auto;
  }
}