.credits {
  bottom: 0px;
  display: flex;
  gap: 12px;
  right: 100%;
  padding: 0px 12px;
  position: absolute;
  transform: translate3d(0px, -50%, 0px);
  white-space: nowrap;

  a,
  p {
    color: #FFF;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: -0.02rem;
  }

  a {
    letter-spacing: 0rem;
  }
}