.credits {
  display: flex;
  gap: 12px;
  left: 0%;
  padding: 0px 12px;
  position: absolute;
  top: 8px;
  white-space: nowrap;

  &--me {
    align-items: center;
    background: #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    left: 50%;
    height: 50px;
    opacity: 0;
    padding: 2px;
    position: absolute;
    transform: translate3d(-50%, 0px, 0px);
    top: 30px;
    width: 50px;

    &:hover {
      opacity: 1;
    }

    &:before {
      border-left: 10px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #fff;
      content: "";
      height: 0;
      position: absolute;
      transform: translate3d(1px, calc(-100% + 3px), 0px);
      top: 0px;
      width: 0;
    }
  }

  a,
  p {
    color: #FFF;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: -0.04rem;
  }

  a {
    letter-spacing: 0rem;
    text-decoration: none;

    &:hover {
      & + div {
        opacity: 1;
      }
    }
  }

  img {
    width: 40px;
  }
}