.credits {
  display: flex;
  gap: 12px;
  left: 0%;
  padding: 0px 12px;
  position: absolute;
  top: 8px;
  white-space: nowrap;

  a,
  p {
    color: #FFF;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: -0.04rem;
  }

  a {
    letter-spacing: 0rem;
  }
}