.frames {
  display: flex;
  color: var(--secondary-color);
  flex-flow: column wrap;
  width: 100%;

  &--frame {
    background: transparent;
    border: 1px dashed var(--text-main);
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(
      -45deg,
      var(--text-main) 0,
      var(--text-main) 1px,
      transparent 0,
      transparent 50%
    );
    color: var(--text-main);
    display: flex;
    height: 70px;
    position: relative;
    width: 70px;

    &--options {
      right: -8px;
      position: absolute;
      padding: 0;
      pointer-events: none;
      top: 0px;
      transform: translateY(-100%);
    }

    &[data-active="true"] {
      background-image: none;
    }

    &:last-child {
      border-left: none;
    }
  }

  &--glyph {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0;
    position: relative;
    width: 100%;

    &--pos {
      border: none;
      border-top: 1px dashed var(--text-main);
      bottom: 2px;
      display: flex;
      justify-content: space-between;
      font-size: 7px;
      gap: 4px;
      left: 0;
      padding: 10px 8px 8px;
      pointer-events: none;
      position: absolute;
      width: 100%;
      user-select: none;

      p {
        color: var(--text-main);
        font-size: 7px;
        display: flex;
        line-height: 0rem;

        span {
          font-weight: 700;
        }
      }
    }

    &--text {
      background: transparent;
      border: none;
      box-shadow: none;
      font-size: 28px;
      height: calc(100% - 20px);
      text-align: center;
      left: 0px;
      position: absolute;
      top: 0px;
      width: 100%;
      user-select: none;
    }
  }

  &--wrapper {
    display: flex;
    padding: 0px;
    position: relative;
    width: 100%;
  }
}