.range-slider {
  padding: 36px 30px 20px;
  position: relative;
  width: 100%;

  &--labels {
    display: flex;
    justify-content: space-between;
    letter-spacing: -0.05rem;
    left: 50%;
    position: absolute;
    pointer-events: none;
    top: 0%;
    transform: translate3d(-50%, -50%, 0px);
    width: calc(100% + 50px);

    &--value {
      color: var(--secondary-color);
      opacity: 0.5;
      font-size: 10px;
    }
  }

  &--wrapper {
    display: flex;
    padding: 0px;
    position: relative;
    width: 100%;
  }

  &--value-marker {
    background: var(--primary-color);
    color: var(--secondary-color);
    font-size: 8px;
    letter-spacing: -0.05rem;
    padding: 2px 8px;
    position: absolute;
    pointer-events: none;
    text-align: center;
    transform: translate3d(-50%, calc(-100% - 16px), 0px);
    top: 0px;
    width: fit-content;

    &:before {
      background: var(--primary-color);
      content: '';
      height: 10px;
      left: 50%;
      position: absolute;
      transform: translate3d(-50%, 0px, 0px) rotate(45deg);
      top: calc(100% - 6px);
      width: 10px;
      z-index: -1;
    }
  }
}