.range-slider {
  display: flex;
  padding: 20px;
  position: relative;
  width: 140px;

  &--labels {
    display: flex;
    justify-content: space-between;
    letter-spacing: -0.05rem;
    left: 50%;
    position: absolute;
    pointer-events: none;
    top: 50%;
    transform: translate3d(-50%, -50%, 0px) rotate(0deg);
    width: calc(100% + 50px);

    &--value {
      color: var(--text-main);
      font-size: 10px;
      transform: rotate(-90deg);
      text-align: center;
      width: 25px;
    }
  }

  &--wrapper {
    display: flex;
    padding: 0px;
    position: relative;
    width: 100%;
  }
}