.range-slider {
  display: flex;
  padding: 20px 30px;
  position: relative;
  width: 100%;

  &--labels {
    display: flex;
    justify-content: space-between;
    letter-spacing: -0.05rem;
    left: 50%;
    position: absolute;
    pointer-events: none;
    top: 0%;
    transform: translate3d(-50%, -50%, 0px);
    width: calc(100% + 50px);

    &--value {
      color: var(--text-main);
      font-size: 10px;
    }
  }

  &--wrapper {
    display: flex;
    padding: 0px;
    position: relative;
    width: 100%;

    &:before,
    &:after {
      background-color: var(--text-main);
      content: '';
      height: 12px;
      position: absolute;
      top: 50%;
      transform: translate3d(-0px, -50%, 0px);
      width: 1px;
    }

    &:before {
      left: 0px;
    }

    &:after {
      right: 0px;
    }
  }
}