.glyph-selector {
  align-items: flex-start;
  background: transparent;
  display: flex;
  flex-flow: row wrap;
  gap: 0px;
  justify-content: center;
  left: initial;
  height: 100dvh;
  right: 0%;
  margin: 0;
  padding: 8px;
  position: absolute;
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  top: 0px;
  width: fit-content;

  &--item {
    background: transparent;
    border: none;
    display: inline-flex;
    padding: 2px;

    &[data-active="true"] {
      background-color: var(--bg-panel);
      color: var(--bg-panel);
    }
  }

  &--toggle {
    border: none;
    background: var(--text-main);
    color: var(--bg-panel);
    left: 0px;
    height: 50px;
    position: absolute;
    transform: translate3d(-100%, 0px, 0px);
    top: 0px;
    width: 50px;

    span {
      font-size: 27px;
    }
  }

  &[data-active="true"] {
    transform: translate3d(100%, 0px, 0px);
  }
}
