*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Roboto Mono", monospace, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #d7d7d7dd;
  background-color: #38383e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #222;
  --secondary-color: #FFF;

  --primary-bg-back: #d7d7d7dd;

  /* Fondos */
  --bg-main: #2f2e2e;
  --bg-panel: #3151AA;
  --border-subtle: #404040;
  --bg-hover-active: #4D4D4D;

  /* Texto */
  --text-main: #E0E0E0;
  --text-secondary: #A0A0A0;
}

body {
  background-color: var(--bg-panel);
  font-family: var(--font-family);
  height: 100dvh;
  margin: 0;
  position: relative;
  overflow: hidden;
  width: 100dvw;
}

canvas {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  color: var(--text-main);
  font-size: 12px;
  letter-spacing: -0.05rem;
  position: relative;
  padding: 0 0 0 30px;

  &:before,
  &:after {
    content: '';
    display: inline-flex;
    top: 50%;
    position: absolute;
    transform: translate3d(0px, -50%, 0px);
  }

  &:after {
    background: var(--secondary-color);
    border-radius: 100%;
    height: 8px;
    left: 4px;
    opacity: 0;
    position: absolute;
    width: 8px;
  }

  &:before {
    border: 1px solid var(--text-main);
    height: 16px;
    left: 0px;
    width: 16px;
  }
}

input[type="radio"]:checked + label {
  &:after {
    opacity: 1;
  }
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none; 
  background: var(--text-main);
  cursor: pointer;
  height: 1px;
  outline: none;
  border-radius: 20px;
  width: 100%;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none; 
  height: 14px;
  width: 8px;
  background-color: var(--text-main);
  border-radius: 0px;
  border: none;
  transition: .2s ease-in-out;
}

input[type='range']::-moz-range-thumb {
  background-color: var(--text-main);
  border-radius: 4px;
  border: none;
  height: 16px;
  transition: .2s ease-in-out;
  width: 8px;
}

input[type='color'] {
  border: 8px solid var(--primary-bg-back);
  height: 42px;
  width: 42px;
}

input[type='color']::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type='color']::-webkit-color-swatch {
	border: none;
}

p {
  font-size: 11px;
  text-transform: capitalize;
}