.frame {
  align-items: flex-start;
  background: transparent;
  display: flex;
  flex-flow: row wrap;
  gap: 0px;
  justify-content: center;
  left: 100%;
  margin: 0;
  padding: 8px;
  position: absolute;
  top: 0px;
  width: 320px;

  background: transparent;
  border: 1px dashed transparent;
  background-size: 4px 4px;
  background-image: repeating-linear-gradient(
    -45deg,
    var(--text-main) 0,
    var(--text-main) 1px,
    transparent 0,
    transparent 50%
  );

  &--item {
    background: transparent;
    border: none;
    display: inline-flex;
    padding: 2px;

    &[data-active="true"] {
      background-color: var(--bg-panel);

      svg {
        path {
          // fill: var(--bg-panel);
        }
      }
    }
  }
}
