.tabs {
  display: flex;
  gap: 12px;
  flex-flow: column wrap;
  overflow: hidden;
  width: 100%;

  &--head {
    padding: 4px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    color: #cbdaea;
    transition: all 0.3s ease;
    flex-grow: 1;
    text-align: center;
    background-size: 8px 8px;
    background-image: repeating-linear-gradient(
      -45deg,
      rgba(255,255,255,0.4) 0,
      rgba(255,255,255,0.4) 0.1px,
      transparent 0,
      transparent 50%
    );
    border: none;

    &[data-active="true"] {
      background-image: none;
      font-weight: bold;
    }
  }

  &--list {
    display: flex;
    flex-flow: row wrap;
    gap: 12px;
    width: fit-content;

    button {
      color: #FFF;
      font-size: 12px;
      padding: 12px 10px;
    }
  }

  &--panel {
    position: relative;

    &--grid {
      display: grid;
      gap: 1px;
      grid-template-columns: repeat(12, 40px);
      grid-auto-rows: 40px;
      width: auto;
              
      > button {
        background-size: 8px 8px;
        background-image: repeating-linear-gradient(
          -45deg,
          rgba(255,255,255,0.4) 0,
          rgba(255,255,255,0.4) 0.1px,
          transparent 0,
          transparent 50%
        );
        align-items: center;
        background-color: transparent;
        border: none;
        color: #FFF;
        display: flex;
        font-weight: 600;
        height: 40px;
        justify-content: center;

        > p {
          font-size: 14px;
          font-weight: 600;
        }

        &[data-active="true"] {
          border: 1px dashed var(--text-main);
          background-image: none;
        }
      }
    }
  }
}