.glyph-selector {
  &--info {
    border: 1px solid var(--text-main);
    background: transparent;
    display: flex;
    flex-flow: column wrap;
    gap: 4px;
    padding: 12px;
    max-width: 490px;
    width: 100%;

    h1{
      font-size: 16px;
      font-weight: 400;
      margin-top: 8px;
      text-transform: uppercase;
      width: 100%;
    }

    &--section {
      color: #fff;
      display: flex;
      flex-flow: row wrap;
      gap: 4px;
      justify-content: flex-start;
      width: 100%;

      p {
        font-size: 11px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: calc(50% - 4px);
      }
    }
  }
}

.tabs {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  gap: 12px;
  justify-content: flex-start;
  height: 100%;
  flex-flow: row wrap;
  overflow: hidden;
  overflow-y: scroll;
  padding-right: 12px;
  max-width: 490px;
  width: 100%;

  &--head {
    padding: 4px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    color: #cbdaea;
    transition: all 0.3s ease;
    flex-grow: 1;
    text-align: center;
    background-size: 8px 8px;
    background-image: repeating-linear-gradient(
      -45deg,
      rgba(255,255,255,0.4) 0,
      rgba(255,255,255,0.4) 0.1px,
      transparent 0,
      transparent 50%
    );
    border: none;

    &[data-active="true"] {
      background-image: none;
      font-weight: bold;
    }
  }

  &--list {
    display: flex;
    flex-flow: row wrap;
    gap: 12px;
    width: fit-content;

    button {
      color: #FFF;
      font-size: 12px;
      padding: 12px 10px;
    }
  }

  &--panel {
    position: relative;

    &--grid {
      display: grid;
      gap: 1px;
      grid-template-columns: repeat(11, 42px);
      grid-auto-rows: 40px;
      width: auto;
              
      > button {
        background-size: 8px 8px;
        background-image: repeating-linear-gradient(
          -45deg,
          rgba(255,255,255,0.4) 0,
          rgba(255,255,255,0.4) 0.1px,
          transparent 0,
          transparent 50%
        );
        align-items: center;
        background-color: transparent;
        border: none;
        color: #FFF;
        display: flex;
        font-weight: 600;
        height: 40px;
        justify-content: center;
        
        > p {
          font-size: 14px;
          font-weight: 600;
          text-transform: none;
        }

        &[data-active="true"] {
          border: 1px dashed var(--text-main);
          background-image: none;
        }
      }
    }
  }

  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 0px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ececec;
    border-radius: 0px;
    opacity: 0.7;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #FFF;
    opacity: 1;
  }

}