.tabs {
  border-radius: 8px;
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
  width: 100%;

  &--head {
    padding: 4px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    color: #007bff;
    transition: all 0.3s ease;
    flex-grow: 1;
    text-align: center;

    &[data-active] {
      border-bottom-color: #007bff;
      background-color: #fff;
      font-weight: bold;
    }
  }

  &--list {
    display: flex;
    flex-flow: column wrap;
    width: fit-content;
  }

  &--panel {
    &--grid {
      display: grid;
      gap: 1px;
      grid-template-columns: repeat(8, 34px);
      grid-auto-rows: 34px;
      width: auto;
              
      > button {
        background-color: transparent;
        color: var(--bg-panel);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8em;
        border: 1px solid rgba(0, 0, 0, 0.1); /* Borde ligero para cada celda */
      }
    }
  }
}